@import './variables';

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: $screenBackGroundColor;
}

header{
  color: $screenColor;

  @media only screen and (max-width: 500px) {
    display: none;
}
}

.JSCalculator__container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

button {
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
}


.JSCalculator__results {

  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 50vw;
  height: 20vh;
  background-color: $backgroundColor;
  color: $lightText;
  margin: 0px 0px;
  border-radius: 10px;
  font-size: 100px;



  @media only screen and (max-width: 500px) {
    width: 100vw;
    font-size: 75px;
}

#display{
  background-color: $backgroundColor;
  color: $lightText;
  width: 50vw;
  text-align: end;

  @media only screen and (max-width: 500px) {
    width: 100vw;
}

}

}

.JSCalculator__buttonsGrid {
  height: 75vh;
  width: 50vw;
  border-radius: 10px;
  background-color: $backgroundColor;

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1%;
  grid-template-areas: "ac ac ac fnDivide" "seven eight nine fnMultiply" "four five six fnSubtract" "one two three fnAdd" "zero zero dec equals";

  @media only screen and (max-width: 500px) {
    width: 100vw;
    height: 80vh;

}



}



.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #display {
  grid-area: display;
}


.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #ac {
  grid-area: ac;
}



.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #fnDivide {
  grid-area: fnDivide;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #seven {
  grid-area: seven;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #eight {
  grid-area: eight;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #nine {
  grid-area: nine;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #fnMultiply {
  grid-area: fnMultiply;
}


.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #four {
  grid-area: four;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #five {
  grid-area: five;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #six {
  grid-area: six;
}


.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #fnSubtract {
  grid-area: fnSubtract;
}


.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #one {
  grid-area: one;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #two {
  grid-area: two;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #three {
  grid-area: three;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #fnAdd {
  grid-area: fnAdd;
}


.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #zero {
  grid-area: zero;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #dec {
  grid-area: dec;
}

.JSCalculator,
.JSCalculator__container,
.JSCalculator__results,
.JSCalculator__buttonsGrid #equals {
  grid-area: equals;
}


.JSCalculator{
  &__sum, &__fnBtn{
    background-color: $fnButtonColor;
    color:$lightText;
  }

  &__numberBtn, &__decimal{
    background-color: $numButtonColor;
    color:$lightText;
  }

  &__ac{
    background-color: $screenBackGroundColor;
    color:$darkText;
  }

}